html,
body {
  background: #F4F5F7;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  }
  


* {
  box-sizing: border-box;
}
/* Navegacion  */
.navBar{
  position: fixed;
  background: #5664D2;
  width: 100%;
  top: 0;
  left: 0;
  height: 63px;
  color: white;
  margin-bottom: 50px;

}
.navBar h1{
  position:fixed;
  top:2px;
  left: 100px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
.navBar ul{
  display: flex;
  position: fixed;
  top: 0px;
  right: 40px;
}
.navBar li:nth-child(1){
  margin-top: 8px;
}
.navBar li{
  margin-right: 25px;
  list-style: none;
  font-weight: bold;
  cursor: pointer;

}
.sub-navbar{
  display: none;
  width: 200px;
  background-color: white;
  position: absolute;
  right: 9px;
  top: 57px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.226);
}
.sub-navbar ul{
  margin: 0;
  padding: 0;
}
.sub-navbar span{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 15px;
}
.sub-navbar-active{
  display: block;
} 
.sub-navbar li{
  list-style: none;
  margin-bottom: 10px;
}
.sub-navbar a{
  color: #3d485a;
  text-decoration: none;
}
.sub-navbar a:hover{
  color: #5664D2;
}
.menu-izquierdo{
  width: 254px;
  height: 100vh;
  background: white;
  padding-top: 100px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.226);
  position: fixed;
  top: 15px;

}
.main-container{
  margin-left: 270px;
  margin-top:80px;
}
.menu-izquierdo{
  padding: 0%;
}
.menu-izquierdo span{
  font-weight: bold;
  padding-left: 30px;
  font-size: 15px;
  color:#172B4D;
  text-transform: uppercase;

}
.menu-izquierdo a{
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-size: 18px;
  color: #6B778C;
  

}
.icon-1{
  padding-right: 152px;
}
.icon-2{
  padding-right: 111px;
}
.icon-3{
  padding-right: 106px;
}
.icon-4{
  padding-right: 142px;
}
.icon-5{
  padding-right: 91px;
}
.icon-6{
  padding-right: 139px;
}
.icon-7{
  padding-right: 65px;
}
.icon-8{
  padding-right: 75px;
}
.icon-9{
  padding-right: 120px;
}
.icon-10{
  padding-right: 60px;
  margin-bottom: 15px;
}
.icon-11{
  padding-right: 97px;
}
.menu-izquierdo a:hover{
  color: #5664D2;
  cursor:pointer;
  background: #F4F6F8;
  border: 2px solid #5664D2;
  border-color: transparent transparent transparent #5664D2;
}
.menu-izquierdo li:nth-child(1){
  margin-top: 60px;
  

}
.menu-izquierdo li{
  list-style: none;
  margin-bottom: 18px;
  width: 100%;
}

/*Container + formularios */

/* Index  */
.grid-index{
  display: flex;
  padding-left: 30px;
}
.grid-index a{
  text-decoration: none;
  color: white;
}
.button-estadistica{
  margin-left: auto;
  margin-top: 80px;
  margin-right: 140px;
}

.descripcion-general{
  text-transform: uppercase;
  font-weight: bold;
  color: #6B778C;
  font-size: 14px;

}
.h1-descripcion-general{
  color:#172B4D;
  font-size: 26px;

}
.descripcion-general-p{
  color: #6B778C;
  font-size: 15px;


}
.card-result{
  border-radius: 20px;
  background: white;
  margin: 20px;
  padding: 14px;
  width: 350px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.205);

}
.grid-result div:nth-child(1){
  margin-right: 20px;
  margin-top: 18px;
}
.grid-result{
  display: flex;
}
.grid-result span{
  font-size:50px ;
  color: #172B4D;
}
.grid-result p{
  color: #3d485a;
}
.grid-promedios{
  display: flex;
}

.Actividades-main {
  background: white;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  top: 250px;
  padding: 15px;
  width: 300px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.205);

}
.Actividades-main h1{
  color: #172B4D;
}
.Actividades-main span{
  color: #3d485a;
}
.Actividades-main h2{
  text-transform: uppercase;
  color: #172B4D;
}
.Actividades-main p{
  width: 340px;

}
.barras-ventasSemanal{
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.205);
  width: 68%;
  padding: 10px;
  border-radius: 15px;
  background: white;
}
.barras-ventasSemanal h1{
  color: #172B4D;
  padding-left: 10px;
}
.barras-ventasSemanal time{
  color: #3d485a;
  padding-left: 10px;
}

.form-table{
  background: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.295);
  border-radius: 20px;
  padding:20px;
  margin-bottom: 20px;
}

.form-añdir input{
  padding:13px 18px 13px 18px ;
  border: 1px solid #3d485a;
  border-radius: 15px;
  font-size: 14px;

}
.form-añdir input:hover{
  padding:12px 17px 12px 17px ;
  border: 2px solid #5664D2;
}
.form-añdir input:placeholder{
  color:#3d485a;
  font-weight: bold;
}
.categoria{
  width:450px;
}
hr{
  width: 100%;
}

.form-table th{
  color:#172B4D;
  padding-right: 40px;
  font-size: 18px;
}
.form-table tr{
  border: 1px solid #172B4D;
}
.form-table h2{
  color: #172B4D;
  text-transform: uppercase;
  font-size: 19px;
}
.form-table table{
  color: #172B4D;
  margin-top: 35px;
}
.form-table td{
  font-size: 18px;
  padding: 13px;
}
.form-table td button{
  background: transparent;
  border: none;
  cursor: pointer;
}
.input-form input{
  margin: 10px;
}
.proveedor{
  width: 950px;
}

.form-producto input{
  width: 100%;
  height:100%;
  border:none;
}
.form-producto fieldset{
  border-radius:15px;
  border: 1px solid #3d485a;
  background-color: white;
  width: 230px;
  padding: 0 5px 2px 10px;
  height: 57px;
  margin-left:13px;
  margin-bottom: 13px;
}
.input-producto{
  font-size: 14px;
  width: 98%;
  height:98%;
  border:none;

}


.form-producto fieldset:hover{
  border: 1px solid #5664D2;
  color: #5664D2;

}
.form-producto select{
  border: none;
  color: #3d485a;
  width: 100%;
  height: 100%;
  font-size:15px ;
}
.form-producto input[type="number"]{
  width: 100%;
  border: none;

}
.regist-producto{
  display: flex;
}
.grid-sub{
  display: flex;

}
.Grid-form-Cliente{
  display: flex;

}
.Grid-form-Cliente div{
  margin:10px;
}
.search-producto{
  margin-left:10px;
}
.search-producto input:nth-child(1){
  margin-right:20px;
  width:45%;
}
.search-producto input:nth-child(2){
  width:23% ;
}
.clientes{
  width:860px;
}
.search-producto button{
  background-color: #5664D2;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding:  12px;
  font-size: 16px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.226);
  text-transform: uppercase;
}
.pedido-div{
  position: absolute;
  background-color: white;
  top: 45%;
  padding: 0;
  display:none;
  margin-top: 0;
  width: 290px;
  height: 100px;
  padding-bottom: 70px;
  left:254px;
  box-shadow: 4px 1px 8px rgba(0, 0, 0, 0.226);

}
.pedido-div li:nth-child(2){
  position:absolute;
  top:16%;
}
.active-pedido{
  display: block;
}
.form-cliente-tr{
  cursor:pointer;
}
.form-cliente-tr:hover{
  background-color:#3d485a9d;
  color:white;
}

/*Configuraciones*/
.settings{
  display: grid;
  grid-template-columns: 50% 50% ;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  margin-top: 40px;
  width: 400px;
  margin-bottom:30px;
}
.settign-config{
  text-align: center;
  font-size: 23px;
  width: 500px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.form-configuracion{
  width: 400px;
  height: auto;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding:20px;
  text-align: center;
}
.form-configuracion button{
  width: 100%;
  background-color: #5664D2;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border:none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 30px;

}
.form-configuracion input{
  margin-top: 30px;
  width: 100%;
  padding: 12px;
}
.settings div{
  cursor: grab;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  padding-top: 30px;
  box-shadow:-3px 5px 15px rgba(0, 0, 0, 0.39);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.close-modal{
  position: fixed;
  color: white;
  font-weight: bold;
  border: none;   
  padding: 10px;
  font-size: 18px;
  position: fixed;
  top: 73px;
  cursor: pointer;
  left: 62%;
  background-color: #ff0040;
}
.settings div:hover{
  width: 155px;
  padding-top: 35px;
  height: 155px;
  color:#5664D2;
  cursor: pointer;
}
.name-index{
  text-transform:capitalize;
}
.avatar{
  text-trasnform:uppercase;
}